---
import { Image } from "astro:assets";

import type { Activity } from "@data/activities.data.ts";

interface Props {
  activity: Activity;
  index: number;
}

const { activity, index } = Astro.props;

const ACTIVITY_LABEL = "Ver actividad";
---

<div
  class={`flex flex-col lg:flex-row items-center justify-between gap-8 mb-24 ${
    index % 2 !== 0 ? "lg:flex-row-reverse" : ""
  }`}
>
  <div class="flex flex-col max-w-xl space-y-6">
    <h2
      class={`text-3xl font-semibold text-primary w-full text-center lg:text-start  ${index % 2 === 0 && "lg:text-end"} `}
    >
      {activity.title}
    </h2>
    <p
      class={`text-lg text-gray-700 w-full text-center lg:text-start  ${index % 2 === 0 && "lg:text-end"} `}
    >
      {activity.description}
    </p>
    {
      activity.link && (
        <a
          target="_blank"
          rel="noopener noreferrer"
          href={activity.link}
          class="w-full lg:w-[100%] p-2 text-xl font-medium text-center transition-all rounded-2xl bg-primary hover:scale-105 hover:bg-primary/90"
        >
          {ACTIVITY_LABEL}
        </a>
      )
    }
  </div>
  <div
    class="flex-shrink-0 transition-transform border drop-shadow-lg rounded-2xl hover:scale-105"
  >
    <a target="_blank" rel="noopener noreferrer" href={activity.link}>
      <Image
        class="w-70 h-auto lg:w-[520px] lg:h-[300px] rounded-2xl"
        src={activity.picture ?? activity.cover}
        alt={activity.title}
        width={520}
        height={300}
      />
    </a>
  </div>
</div>
