---
import { Image } from "astro:assets";

import type { Activity } from "@data/activities.data";

interface Props {
  activity: Activity;
}

const { activity } = Astro.props;
const ACTIVITY_LABEL = "Ver actividad";
---

<div class="swiper-slide">
  <div class="flex items-center justify-center">
    <div
      class="flex drop-shadow-xl flex-col items-center min-h-40 w-64 lg:min-h-[340px] lg:min-w-[330px] rounded-3xl bg-accent-light"
    >
      <Image
        class="w-56 h-36 m-4 lg:w-[300px] lg:h-44 rounded-2xl"
        src={activity.cover}
        alt={activity.title}
        width={300}
        height={176}
      />
      <h2 class="mb-3 text-3xl font-semibold text-center lg:mb-0 text-primary">
        {activity.title}
      </h2>
      {
        activity.link && (
          <a
            target="_blank"
            rel="noopener noreferrer"
            href={activity.link}
            class="w-[90%] p-2 mt-9 mb-4 lg:mb-0 text-xl font-medium text-center transition-all rounded-2xl bg-primary hover:scale-105 hover:bg-primary/90"
          >
            {ACTIVITY_LABEL}
          </a>
        )
      }
    </div>
  </div>
</div>
